.shelf-container {
    /* Center the shelf container and add padding */
    padding: 20px;  /*    */
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.shelf-header h1 {
    /* Styling for the header title */
    font-size: 2em;
    color: #091c69;

}

.shelf-header p {
    /* Styling for the header paragraphs */
    font-size: 1em;
     color: #091c69;
}

.bookshelf {
    /* Flexbox to align books horizontally on the shelf */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px 0;
}

.book {
    /* Ensure each book takes up its defined width */
    flex: 0 0 var(--width, 10%);
    /* Reduce the margin to bring books closer together */
    margin: 0 2px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: rotate(var(--rotation)); /* Rotate the book */
    transition: transform 0.3s ease;
    /* Set a fixed height for the book spine */
    height: 350px; /* Adjust as needed */
}

.book:nth-child(4) {
    margin-left: 33px; /* Increase the margin to create more space */
}

.book:nth-child(5) {
    margin-left: 30px; /* Increase the margin to create more space */
}

.book:nth-child(6) {
    margin-left: 65px; /* Increase the margin to create more space */
}

.book:nth-child(7) {
    margin-left: 10px; /* Increase the margin to create more space */
}

.book:nth-child(8) {
    margin-left: 65px; /* Increase the margin to create more space */
}

.book:nth-child(9) {
    margin-left: 35px; /* Increase the margin to create more space */
}

.book:nth-child(10) {
    margin-left: 35px; /* Increase the margin to create more space */
}
.book:nth-child(11) {
    margin-left: 8px; /* Increase the margin to create more space */
}
.book:nth-child(12) {
    margin-left: 37px; /* Increase the margin to create more space */
}
.book:nth-child(13) {
    margin-left: 37px; /* Increase the margin to create more space */
}

.book-spine {
    height: 100%;
    width: 100%;
    background-color: var(--book-color, #3498db); /* Default color */
    padding: 10px;
    border: 2px solid #091c69;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    writing-mode: vertical-rl; /* Vertical text layout */
    text-orientation: mixed; /* Allow mixed text orientation */
}

.book-spine:hover {
    /* Slightly enlarge book on hover */
    transform: scale(1.1);
}

.book-title {
    /* Title styling */
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    display: block;
    text-decoration: none; /* Remove underline */
}

.book-author {
    /* Author name styling */
    font-size: 14px;
    color: #ffffff;
}

.pagination {
    /* Pagination container styling */
    margin-top: 20px;
}

.page-links {
    /* Inline block for page links */
    display: inline-block;
}

.page-link {
    /* Page link styling */
    margin: 0 5px;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Maintain the original color */
    transition: color 0.3s ease;
}

.page-link:hover {
    /* Hover effect for page links */
    color: inherit; /* Maintain the original color */
}

/* Filter section styling */
.filter-section {
    flex-basis: 300px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #8c0003;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #ff9a9a;
}

.filter-tags, .filter-publishers {
    margin-bottom: 20px;
}

.filter-tags h3, .filter-publishers h3 {
    margin-bottom: 10px;
}

.tag-list, .publisher-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-button {
    padding: 10px;
    border: 1px solid #8c0003;
    background-color: #fff;
    color: #8c0003;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.filter-button:hover {
    background-color: #f58a80;
    color: #fff;
}

.filter-tags h3, .filter-publishers h3 {
    margin-bottom: 10px;
     color: #091c69;
}
.filter-button.selected {
    background-color: #f58a80;
    color: #fff;
}
